/* app css stylesheet */

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body, html {
  height: 100%;
  background: url(../img/white_subaru.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-image: url(../img/white_subaru.jpg);*/
}

.montez {
  font-family: 'Montez-Regular';
}

#wrapper {
  min-height:100%;
  position:relative;
}

#nav-container {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 64px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #777777;
}

#logo {
  display: inline-block;
  font-family: "Montez-Regular";
  font-weight: 700;
  font-style: italic;
  font-size: 42px;
  color: #00bac6;
  line-height: 64px;
  margin-left: 15px;
  width: 355px;
}

#nav {
  font-family: "Cabin";
  display: inline-block;
  float: right;
  line-height: 59px;
  height: 64px;
  margin-right: 200px;
}

#nav a {
  text-decoration: none;
  color: #000000;
}

#nav a:hover {
  color: #00bac6;
}

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: #666 url(../img/menu-icon.png) center;
}

a:hover#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  float: left;
  padding: 0px 10px !important;
  /*border-right: 1px solid #DDDDDD;*/
}

li.end {
  border-right: none;
}

li:hover {
  border-bottom: 5px solid #00bac6;
}

.current {
  color: #00bac6;
  border-bottom: 5px solid #00bac6;
}


#footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 32px;
  background-color: #ffffff;
  border-top: 1px solid #777777;
}

.sample {
  height: 200px;
  width: 500px;
  border: 1px solid red;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 1050px) {
  #nav {
    margin-right: 100px;
  }
}

@media only screen and (max-width : 900px) {
  #nav {
    margin-right: 25px;
  }
}

@media only screen and (max-width : 799px) {

  header {
    position: absolute;
  }

  #menu-icon {
    display:inline-block;
    vertical-align: middle;
  }

  #nav ul, #nav:active ul {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #444;
    right: 25px;
    top: 50px;
    width: 50%;
    border-radius: 4px 0 4px 4px;
  }

  #nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #DDDDDD;
  }

  #nav li:hover {
    color: #FFFFFF;
    background-color: #00bac6;
    width: 100%;
    right: 25px;
  }

  #nav:hover ul {
    display: block;
  }
}
